<div id="catalogMain">
	<div class="row">
	   <div class="col-md-3 col-xl-6">
	       <h4>分类管理</h4>
	   </div>
	   <div class="col-md-6 col-xl-6">
	      <a class="btn btn-success btn-sm blog-add-catalog" data-toggle="modal"
			data-target="#flipFlop" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
	   </div>
	</div>
	<p display="none" id="usernameUrl" data-th-attr="username=${user.username}"></p>
	<div class="row">
	   <div class="col-md-12 col-xl-12">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th data-field="id">ID</th>
					<th data-field="username">分类名称</th>
					<th data-field="operation">操作</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="catalog : ${model.catalogs}" th:object="${catalog}">
					<td th:text="${catalog.id}"></td>
					<td th:text="${catalog.name}"></td>
					<td>
						<div>
							<a class="btn btn-success btn-xs blog-edit-catalog" data-toggle="modal"
								data-target="#flipFlop" role="button" th:attr="catalogId=*{id}">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
							    &nbsp;&nbsp;
							 <a class="btn btn-danger btn-xs blog-delete-catalog" th:attr="catalogId=*{id}">
							     <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
      </div>
   </div>
</div>

<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog"
	aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modalLabel">新增/编辑</h4>

			</div>
			<div class="modal-body" id="catalogFormContainer"></div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" id="submitEditCatalog">确认</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<script>
//获取分类列表
function getCatalogs() {
	var usernameUrl=$("#usernameUrl").attr("username");
	$.ajax({
		 url: '/catalog/'+usernameUrl, 
		 type: 'GET', 
		 data:{"username":usernameUrl},
		 success: function(data){
			$("#catalogMain").html(data);
	     },
	     error : function() {
	    	 alert("error!");
	     }
	 });
}

// 获取添加分类的页面
$(".blog-add-catalog").click(function() { 
	$.ajax({ 
		 url: '/catalog/add',
		 type: 'GET',
		 success: function(data){
			 $("#catalogFormContainer").html(data);
	     },
	     error : function() {
	    	 alert("error!");
	     }
	 });
});

// 获取编辑某个分类的页面
$(".blog-edit-catalog").click(function() { 
	$.ajax({ 
		 url: '/catalog'+'/edit/'+$(this).attr('catalogId'), 
		 type: 'GET',
		 success: function(data){
			 $("#catalogFormContainer").html(data);
	     },
	     error : function() {
	    	 alert("error!");
	     }
	 });
});

// 提交分类
$("#submitEditCatalog").click(function() {
	// 获取 CSRF Token 
	var csrfToken = $("meta[name='_csrf']").attr("content");
	var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	
	var usernameUrl=$("#usernameUrl").attr("username");
	$.ajax({ 
		 url: '/catalog/'+usernameUrl,
		 type: 'POST', 
		 contentType: "application/json; charset=utf-8",
		 data:JSON.stringify({"username":usernameUrl, "catalog":{"id":$('#catalogId').val(), "name":$('#catalogName').val()}}),
		 beforeSend: function(request) {
             request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
         },
		 success: function(data){
			 if (data.success) {
				 alert(data.message);
				 getCatalogs();
			 } else {
				 alert(data.message);
			 }
	     },
	     error : function() {
	    	 alert("error!");
	     }
	 });
});

// 删除分类
$(".blog-delete-catalog").click(function() {  
	// 获取 CSRF Token  
	var csrfToken = $("meta[name='_csrf']").attr("content");
	var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	if (confirm("确认删除？")==false) return;
	$.ajax({ 
		 url: '/catalog/'+$(this).attr('catalogid'),
		 type: 'DELETE', 
		 beforeSend: function(request) {
             request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
         },
		 success: function(data){
			 if (data.success) {
				 alert(data.message);
				 getCatalogs();
			 } else {
				 alert(data.message);
			 }
	     },
	     error : function() {
	    	 alert("error!");
	     }
	 });
});
</script>

