<div class="row">
   <div class="col-md-12">
       <h1 class="text-center">Markdown语法基础</h1>
       <h5 class="text-right"><i >-----本网站的博客、帖子均采用markdown编辑器编辑</i></h5>
       <h3>标题</h3>
       <h4>&nbsp;&nbsp;&nbsp;&nbsp;Markdown支持6种级别的标题，#对应html标签 h1,##对应html标签 h2,###对应html标签 h3,依此类推</h4>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code># h1</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>## h2</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>### h3</code></p>
       <h3>段落及区块引用</h3>
       <h4>&nbsp;&nbsp;&nbsp;&nbsp;使用Markdown分段非常简单，前后至少保留一个空行即可。Markdown提供了一个特殊符号>用于段首进行强调，被强调的文字部分将会高亮显示</h4>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>> 这段文字将被高亮显示...</code></p>
       <h3>插入链接或图片</h3>
       <h4>&nbsp;&nbsp;&nbsp;&nbsp;Markdown针对链接和图片的处理也比较简单，可以使用下面的语法进行标记</h4>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>[点击跳转至百度](http://www.baidu.com)</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>![图片](https://upload-images.jianshu.io/upload_images/703764-605e3cc2ecb664f6.jpg</code></p>
       <h5>&nbsp;&nbsp;&nbsp;&nbsp;注： 引用图片和链接的唯一区别就是在最前方添加一个感叹号。</h5>
       <h3>列表</h3>
       <h4>&nbsp;&nbsp;&nbsp;&nbsp;无序列表使用*或+或-标识有序列表使用数字加.标识，例如：1.</h4>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>* 黄瓜</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>1. 黄瓜</code></p>
       <h3>分隔线</h3>
       <h4>&nbsp;&nbsp;&nbsp;&nbsp;有时候，为了排版漂亮，可能会加入分隔线。Markdown加入分隔线非常简单，使用下面任意一种形式都可以</h4>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>***</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>---</code></p>
       <h3>强调</h3>
       <h4>&nbsp;&nbsp;&nbsp;&nbsp;有时候，我们希望对某一部分文字进行强调，使用*或_包裹即可。使用单一符号标记的效果是斜体，使用两个符号标记的效果是加粗。如</h4>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code> *这里是斜体*</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>_这里是斜体_</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>**这里是加粗**</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>__这里是加粗__</code></p>
       <h3>插入代码块</h3>
       <h4>&nbsp;&nbsp;&nbsp;&nbsp;如果是段落上的一个函数或片段的代码可以用反引号把它包起来（`），例如：`printf()` 函数。你也可以用 ``` 包裹一段代码，并指定一种语言（也可以不指定）</h4>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>```javascript</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>$(document).ready(function () {</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>&nbsp;&nbsp;&nbsp;&nbsp;alert('RUNOOB');</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>});</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>```</code></p>
       <h3>插入表格</h3>
       <h4>&nbsp;&nbsp;&nbsp;&nbsp;其语法如下：</h4>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>表头|条目一|条目二</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>:---:|:---:|:---:</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;<code>项目|项目一|项目二</code></p>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;注：三个短斜杠左右的冒号用于控制对齐方式，只放置左边冒号表示文字居左，只放置右边冒号表示文字居右，如果两边都放置冒号表示文字居中</p>
       <h3>更多详情，请访问：https://www.runoob.com/markdown/md-tutorial.html</h3>
   </div>
</div>